*{
	font-family: sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-image: url("./a.jpg");
	background-size: 1707px;
}

input{
	border-style: none;
	outline: none;
	padding: .8em;
	width: calc(100% - 50px);
	border-radius: 18px;
	background: #7c7c7c9b;
	color: white;
}

.card{
	background: rgba(0,0,0,.9);
	padding: 2em;
	border-radius: 31px;
	width: 100%;
	max-width: 420px;
	margin: 1em;
	color: #fff
}

.search{
	display: flex;
	align-items: center;
	justify-content: center;
}
.search button{
	margin-left: .5em;
	border-radius: 60%;
	border: none;
	outline: none;
	cursor: pointer;
	width: 2em;
	height: 2em;
	background-color: #7c7c7c9b;
	transition: .2s ease-in-out;
}
.search button:hover{
	background-color: #939393;
}

.wheather.we{
	visibility: hidden;
}